<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('partials/head'); %> 
        <title>Menu</title>
    </head>
    <body class="bg-dark" style="font-family:'Work Sans', sans-serif;">
        <%- include('partials/navbar_cliente'); %> 
        <!--Panini-->
        <div class="container-fluid bg-dark">
            <div class="row-0">
                <% menu.forEach(elem => { %>
                    <div class="col my-3">
                        <div class="card border border-3 rounded-pill" style="border-color:#f2bf17 !important" id="<%= elem.id %> ">
                            <div class="card-body rounded-pill bg-dark text-white">
                                <%= elem.nome %>: <%= elem.prezzo%>$ 
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>